.container {
  composes: container from 'styles/layout.css';
  flex-direction: column;
}

.header {
  display: flex;
  position: relative;
  padding: 20px 30px;
  align-items: center;
}

.actions {
  display: flex;
  margin-left: auto;
}

.close {
  font-size: 24px;
  cursor: pointer;
}

.content {
  composes: container from 'styles/layout.css';
  background-color: white;
  padding: 20px 30px;
  flex-direction: column;
}
