@import '~styles/colors';

.container {
  composes: container from '~styles/layout.scss';
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 10px;
}

.actions {
  display: flex;
  margin-left: auto;
}

.content {
  margin-top: 20px;
  text-align: center;
}
