.container {
  composes: container from "css/layout.css";
  height:120px;
  padding:30px;
}

.logo {
  width:211px;
  height:60px;
  background:url(static/predictor-enterics-logo.svg);
}

.account {
  background-color:red;
  margin-left:auto;
}