@import '~styles/colors.global';

.container {
	background-color: $color-background;
}

.contentWrap {
	display: flex;
	flex: 1;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	align-items: center;
	flex-direction: row;
	position: relative;
	min-height: 84px;
}

.account {
	composes: fontSizeSmall from 'styles/typography.scss';
	display: flex;
	align-items: center;
	color: $color-grey-mid;
	margin-left: auto;
}

.authLink + .authLink::before {
	content: '\a0\a0\b7\a0\a0';
}

.authLink {
	color: $color-grey-dark;
}

.signUpLink {
	composes: buttonPrimary from 'styles/controls.scss';
	composes: fontSecondarySizeSmall from 'styles/typography.scss';
	margin-left: 20px;
}

.title {
	composes: fontSizeLarge from 'styles/typography.scss';
	composes: containerAbsolute from 'styles/layout.scss';
	align-items: center;
	justify-content: center;
	flex-direction: column;
	pointer-events: none;
}
