.container {
  composes: container from 'css/layout.css';
  height: var(--header-height);
  align-items: center;
  padding: 0 40px;
}

.account {
  display: flex;
  align-items: center;
  composes: fontSizeSmall from 'css/typography.css';
  margin-left: auto;
  color: var(--color-grey-mid);
  pointer-events: auto;
}

.authLink + .authLink::before {
  content: '\a0\a0\b7\a0\a0';
}

.authLink {
  color: var(--color-grey-dark);
}

.signUpLink {
  composes: buttonPrimary from 'css/controls.css';
  composes: fontSecondarySizeSmall from 'css/typography.css';
  margin-left: 20px;
}

.menuToggle {
  display: block;
  width: 30px;
  height: 17px;
  color: var(--color-grey-mid);
  pointer-events: auto;
}

.menuIcon,
.menuIcon::before,
.menuIcon::after {
  display: block;
  background: var(--color-grey-dark);
  position: relative;
  width: 30px;
  height: 2px;
  opacity: 1;
  transition: 0.3s ease-in-out;
  transform-origin: left center;
}

.menuIcon::before,
.menuIcon::after {
  content: ' ';
}

.menuIconOpen {
  composes: menuIcon;
}

.menuIconOpen::before {
  transform: translate(0, 7px);
}

.menuIconOpen::after {
  transform: translate(0, 12px);
}

.menuIconClose {
  composes: menuIcon;
  transform: rotate(45deg);
}

.menuIconClose::before {
  opacity: 0;
  width: 0;
  transform: rotate(-45deg) translate(0, 7px);
}

.menuIconClose::after {
  transform: rotate(-90deg) translate(-13px, 14px);
}
