@import '~styles/colors.global';
@import '~styles/use-bootstrap.global';

.mapContainer {
  composes: container from 'styles/layout.scss';
  position: relative;
}

.map {
  composes: container from 'styles/layout.scss';
}

.controlsContainerTop {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  // z-index: 1;
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.dropdownContent {
  max-height: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: $popover-body-padding-y $popover-body-padding-x;
  color: $popover-body-color;
}

.controlsContainerBottomLeft {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 30px;
}
