@import '~styles/colors.global';

.container {
	composes: container from 'styles/layout.scss';
	flex-direction: column;
}

.content {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.header {
	background-color: $color-buff-dark;
	padding: 12px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.headerTitle {
	composes: fontSizeLarge from 'styles/typography.scss';
	color: $color-tint-primary;
	padding-bottom: 16px;
}

.navigation {
	margin: 0 auto;
	display: flex;
}

.navigationItem {
	composes: fontSecondary from 'styles/typography.scss';
	composes: fontSecondarySizeSmall from 'styles/typography.scss';
	text-transform: uppercase;
	height: 24px;
	padding: 0 12px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: $color-tint-primary;
	line-height: 1;
}

.navigationItemActive {
	composes: navigationItem;
	color: white;
	background-color: $color-tint-primary;
}
