@import '~styles/colors.global';

.container {
  background-color: $color-background;
}

.title {
  composes: font from 'styles/typography.scss';
  composes: fontSizeLarge from 'styles/typography.scss';
}

.navigation {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.navigationItem {
  composes: button from 'styles/controls.scss';
  background-color: transparent;
  color: $color-tint-primary;
}

.navigationItemActive {
  composes: navigationItem;
  color: white;
  background-color: $color-tint-primary;
}
