{
	"presets": [
		[
			"env",
			{
				"targets": {
					"browsers": ["last 2 versions"]
				}
			}
		],
		"stage-0",
		"react"
	],
	"plugins": [
		"add-module-exports",
		"inline-dotenv",
		["transform-runtime", {
			"helpers": false,
			"polyfill": false,
			"regenerator": true
		}],
		"transform-flow-strip-types"
	],
	"env": {
		"production": {
			"presets": ["react-optimize"],
			"plugins": [
				"./babel-plugin-electron-module-resolver",
				"transform-react-remove-prop-types"
			]
		},
		"development": {
			"plugins": ["./babel-plugin-electron-module-resolver"]
		}
	}
}
