{
	"presets": [
		[
			"env",
			{
				"targets": {
					"browsers": ["last 2 versions"]
				}
			}
		],
		"stage-0",
		"react"
	],
	"plugins": [
		"add-module-exports",
		"transform-runtime",
		"transform-flow-strip-types"
	],
	"env": {
		"production": {
			"presets": ["react-optimize"],
			"plugins": ["./babel-plugin-electron-module-resolver"]
		},
		"development": {
			"plugins": ["./babel-plugin-electron-module-resolver"]
		}
	}
}
