{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "import",
    "react",
    "flowtype"
  ],
  "rules": {
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", "never"],
    "brace-style": ["error", "stroustrup"],
    "react/jsx-no-bind": ["error", {
      "allowArrowFunctions": true
    }]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.eslint.js"
      }
    }
  },
  "globals": {
    "IS_ELECTRON": true
  }
}
