{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "consistent-return": 0,
    "comma-dangle": 0,
    "no-use-before-define": 0,
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    // "import/no-extraneous-dependencies": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": 0,
    "yoda" : ["error", "always", { "onlyEquality": true }],
    "semi" : ["error", "always"],
    "space-before-function-paren" : ["error", "never"],
    "arrow-parens": ["error", "always"],
    "brace-style": ["error", "stroustrup", { "allowSingleLine": true }]
  },
  "plugins": [
    "import",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.eslint.js"
      }
    }
  },
  "globals": {
    "IS_ELECTRON": true
  }
}
