package.json
__mocks__
# __fixtures__
flow-typed
.vscode
web/demo
web/build
app/build
app/static
desktop/dist
desktop/mykrobe-binaries
desktop/release
desktop/resources
desktop/build
decls
swagger.json