{
  "info": {
    "title": "Atlas API",
    "version": "1.0.0",
    "description": "Atlas is an outbreak and resistance analysis platform"
  },
  "host": "api.atlas-prod.makeandship.com",
  "basePath": "/",
  "schemes": ["https"],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Pass a valid JWT token to access the API"
    }
  },
  "swagger": "2.0",
  "paths": {
    "/auth/login": {
      "post": {
        "tags": ["Authentication"],
        "description": "Authenticate a user",
        "operationId": "authLogin",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "credentials",
            "description": "The user credentials",
            "schema": {
              "type": "object",
              "required": ["email", "password"],
              "properties": {
                "email": { "type": "string" },
                "password": { "type": "string" }
              },
              "example": {
                "email": "mark@makeandship.com",
                "password": "password"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful authentication",
            "schema": {
              "properties": {
                "status": { "type": "string" },
                "data": {
                  "type": "object",
                  "properties": {
                    "firstname": { "type": "string" },
                    "lastname": { "type": "string" },
                    "phone": { "type": "string" },
                    "email": { "type": "string" },
                    "avatar": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": { "type": "string" },
                          "width": { "type": "string" },
                          "height": { "type": "string" },
                          "id": { "type": "string" }
                        }
                      }
                    },
                    "id": { "type": "string" }
                  }
                }
              },
              "example": {
                "status": "success",
                "data": {
                  "firstname": "John",
                  "lastname": "Kitting",
                  "phone": "07686833972",
                  "email": "john@nhs.co.uk",
                  "avatar": [
                    {
                      "id": "59084b7505a2440a6ed57152",
                      "url": "https://host/user/avatar/ryg0cpHyb-128.png",
                      "width": 128,
                      "height": 128
                    },
                    {
                      "id": "59084b7505a2440a6ed57151",
                      "url": "https://host/user/avatar/ryg0cpHyb-256.png",
                      "width": 256,
                      "height": 256
                    },
                    {
                      "id": "59084b7505a2440a6ed57150",
                      "url": "https://host/user/avatar/ryg0cpHyb-512.png",
                      "width": 512,
                      "height": 512
                    }
                  ],
                  "id": "588624076182796462cb133e"
                }
              }
            }
          },
          "401": { "description": "Failed authentication" }
        }
      }
    },
    "/auth/random-number": {
      "get": {
        "tags": ["Authentication"],
        "description": "A protected route",
        "operationId": "authRandomNumber",
        "produces": ["application/json"],
        "security": [{ "Bearer": [] }],
        "responses": {
          "200": {
            "description": "A successful authentication",
            "schema": {
              "properties": {
                "status": { "type": "string" },
                "data": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "iat": { "type": "number" }
                      }
                    },
                    "num": { "type": "number" }
                  }
                }
              },
              "example": {
                "status": "success",
                "data": {
                  "user": {
                    "id": "58e2681949a0461733d01c0b",
                    "iat": 1491293225
                  },
                  "num": 3.1234455666
                }
              }
            }
          },
          "401": { "description": "Failed authentication" }
        }
      }
    },
    "/auth/forgot": {
      "post": {
        "tags": ["Authentication"],
        "description": "Forgot password",
        "operationId": "authForgot",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "credentials",
            "description": "The user email",
            "schema": {
              "type": "object",
              "required": ["email"],
              "properties": { "email": { "type": "string" } },
              "example": { "email": "mark@makeandship.com" }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A jsend response",
            "schema": {
              "properties": {
                "status": { "type": "string" },
                "data": { "type": "string" }
              },
              "example": { "status": "success", "data": "Successful response" }
            }
          }
        }
      }
    },
    "/auth/resend": {
      "post": {
        "tags": ["Authentication"],
        "description": "Resend verification email",
        "operationId": "authResend",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "email",
            "description": "The user email",
            "schema": {
              "type": "object",
              "required": ["email"],
              "properties": { "email": { "type": "string" } },
              "example": { "email": "john@nhs.co.uk" }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A jsend response",
            "schema": {
              "properties": {
                "status": { "type": "string" },
                "data": { "type": "string" }
              },
              "example": { "status": "success", "data": "Successful response" }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": ["Authentication"],
        "description": "Refresh the access token",
        "operationId": "authAccess",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "credentials",
            "description": "The refresk token",
            "schema": {
              "type": "object",
              "required": ["refreshToken"],
              "properties": { "refreshToken": { "type": "string" } },
              "example": {
                "refreshToken":
                  "eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJTLUVoTEVSSzl4UXczNWM1QkY2UmFaOUR0Vk9wdTY4ZUVieXZZN1E2OXdvIn0.eyJqdGkiOiIyYThjMzAyNi04YjgzLTQzYjktYjc4ZS1lN2UxOWVmN2E5YzUiLCJleHAiOjE1Mjg4ODE0NjksIm5iZiI6MCwiaWF0IjoxNTI4ODc5NjY5LCJpc3MiOiJodHRwczovL2FjY291bnRzLm1ha2VhbmRzaGlwLmNvbS9hdXRoL3JlYWxtcy9jYXJlcmVwb3J0IiwiYXVkIjoiY2FyZXJlcG9ydC1hcHAiLCJzdWIiOiIzZTExMmM4Ny1mODBjLTQ3MDgtYjdhMi00YzNhZGVhNDYzYzYiLCJ0eXAiOiJSZWZyZXNoIiwiYXpwIjoiY2FyZXJlcG9ydC1hcHAiLCJhdXRoX3RpbWUiOjAsInNlc3Npb25fc3RhdGUiOiI4YzE3YjAyMy0yODlmLTQyYzQtYmZlOC0yNGQwZGVmNjk2YjAiLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsidW1hX2F1dGhvcml6YXRpb24iXX0sInJlc291cmNlX2FjY2VzcyI6eyJhY2NvdW50Ijp7InJvbGVzIjpbIm1hbmFnZS1hY2NvdW50IiwibWFuYWdlLWFjY291bnQtbGlua3MiLCJ2aWV3LXByb2ZpbGUiXX19fQ.VHAXysXYbmSnRCFyrrVtigeMLgefKMWRjBPFWE-rAsjfSw3ZDOf7DvEPmYATAR86JPrrU9HLuteci_x4ozw-uEVdAi6q4mm3A9OAAPb8ROQtZ7EmCMYhAihW3s9416lQW3tQUxNWeWhAla8MJxQdZOE0eUwhK6m9WcYqLS95ax003F31nks_M7zvmLM7Omv8eFCvLigx5zTix6KZtGSgNVEzzWrl0iIxEpLZSSUrYBA7m2sAYonaL8XDnKCHgf92SDaRFNe99xyJfV7NC5QKHVqpaNj1AF3l_VDcIoR3bYFAtOLz6aY7y01xfIxfPn3Wk_DGeJ5YzcjVkY_3W5paRQ"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A jsend response",
            "schema": {
              "properties": {
                "status": { "type": "string" },
                "data": {
                  "type": "object",
                  "properties": {
                    "access_token": { "type": "string" },
                    "expires_in": { "type": "number" },
                    "refresh_expires_in": { "type": "number" },
                    "token_type": { "type": "string" },
                    "id_token": { "type": "string" },
                    "not-before-policy": { "type": "number" },
                    "session_state": { "type": "string" },
                    "scope": { "type": "string" }
                  },
                  "example": {
                    "access_token":
                      "eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJTLUVoTEVSSzl4UXczNWM1QkY2UmFaOUR0Vk9wdTY4ZUVieXZZN1E2OXdvIn0.eyJqdGkiOiI4MjM5Nz",
                    "expires_in": 300,
                    "refresh_expires_in": 1800,
                    "refresh_token":
                      "eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJTLUVoTEVSSzl4UXczNWM1QkY2UmFaOUR0Vk9wdTY4ZUVieXZZN1E2OXdvIn0.eyJqdGkiOiI0M",
                    "token_type": "bearer",
                    "id_token":
                      "eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJTLUVoTEVSSzl4UXczNWM1QkY2UmFaOUR0Vk9wdTY4ZUVieXZZN1E2OXdvIn0.eyJqdGki",
                    "not-before-policy": 0,
                    "session_state": "0573dcdb-3e5d-471d-bdf5-aec830f974e5",
                    "scope": ["scope"]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Refresh Failed",
            "schema": {
              "properties": {
                "status": { "type": "string" },
                "data": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "code": { "type": "string" },
                    "message": { "type": "string" }
                  },
                  "example": {
                    "status": "error",
                    "code": "Error",
                    "message": "Request failed"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/clean": {
      "post": {
        "tags": ["Data"],
        "description": "Clear fake data (Development only)",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "A jsend response",
            "schema": {
              "properties": {
                "status": { "type": "string" },
                "data": { "type": "string" }
              },
              "example": { "status": "success", "data": "Successful response" }
            }
          }
        }
      }
    },
    "/data/random": {
      "post": {
        "tags": ["Data"],
        "description":
          "Create fake data with users and experiments (Development only)",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "total",
            "description": "The total records to create",
            "schema": {
              "type": "object",
              "properties": { "total": { "type": "number" } },
              "example": { "total": 100 }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A jsend response",
            "schema": {
              "properties": {
                "status": { "type": "string" },
                "data": { "type": "string" }
              },
              "example": { "status": "success", "data": "Successful response" }
            }
          }
        }
      }
    },
    "/experiments": {
      "get": {
        "tags": ["Experiments"],
        "description": "List all experiments",
        "operationId": "experimentsList",
        "produces": ["application/json"],
        "security": [{ "Bearer": [] }],
        "responses": {
          "200": {
            "description": "Experiments list",
            "schema": {
              "properties": {
                "status": { "type": "string" },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "created": { "type": "string", "format": "date-time" },
                      "modified": { "type": "string", "format": "date-time" },
                      "owner": {
                        "type": "object",
                        "properties": {
                          "firstname": { "type": "string" },
                          "lastname": { "type": "string" },
                          "phone": { "type": "string" },
                          "email": { "type": "string" },
                          "id": { "type": "string" }
                        }
                      },
                      "metadata": {
                        "type": "object",
                        "properties": {
                          "patient": {
                            "type": "object",
                            "properties": {
                              "patientId": { "type": "string" },
                              "siteId": { "type": "string" },
                              "genderAtBirth": { "type": "string" },
                              "countryOfBirth": { "type": "string" },
                              "age": { "type": "number" },
                              "bmi": { "type": "number" },
                              "injectingDrugUse": { "type": "string" },
                              "homeless": { "type": "string" },
                              "imprisoned": { "type": "string" },
                              "smoker": { "type": "string" },
                              "diabetic": { "type": "string" },
                              "hivStatus": { "type": "string" },
                              "art": { "type": "string" }
                            }
                          },
                          "sample": {
                            "type": "object",
                            "properties": {
                              "labId": { "type": "string" },
                              "isolateId": { "type": "string" },
                              "collectionDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "prospectiveIsolate": { "type": "boolean" },
                              "countryIsolate": { "type": "string" },
                              "cityIsolate": { "type": "string" },
                              "dateArrived": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "anatomicalOrigin": { "type": "string" },
                              "smear": { "type": "string" }
                            }
                          },
                          "genotyping": {
                            "type": "object",
                            "properties": {
                              "wgsPlatform": {
                                "type": "string",
                                "enum": ["HiSeq", "MiSeq", "NextSeq", "Other"]
                              },
                              "wgsPlatformOther": { "type": "string" },
                              "otherGenotypeInformation": {
                                "type": "string",
                                "enum": ["Yes", "No"]
                              },
                              "genexpert": {
                                "type": "string",
                                "enum": [
                                  "RIF sensitive",
                                  "RIF resistant",
                                  "RIF inconclusive",
                                  "Not tested"
                                ]
                              },
                              "hain": {
                                "type": "string",
                                "enum": [
                                  "INH/RIF test",
                                  "Fluoroquinolone/aminoglycoside/ethambutol test",
                                  "Both",
                                  "Not tested"
                                ]
                              },
                              "hainRif": {
                                "type": "string",
                                "enum": [
                                  "RIF sensitive",
                                  "RIF resistant",
                                  "RIF inconclusive",
                                  "Not tested"
                                ]
                              },
                              "hainInh": {
                                "type": "string",
                                "enum": [
                                  "INH sensitive",
                                  "INH resistant",
                                  "INH inconclusive",
                                  "Not tested"
                                ]
                              },
                              "hainFl": {
                                "type": "string",
                                "enum": [
                                  "FL sensitive",
                                  "FL resistant",
                                  "FL inconclusive",
                                  "Not tested"
                                ]
                              },
                              "hainAm": {
                                "type": "string",
                                "enum": [
                                  "AM sensitive",
                                  "AM resistant",
                                  "AM inconclusive",
                                  "Not tested"
                                ]
                              },
                              "hainEth": {
                                "type": "string",
                                "enum": [
                                  "ETH sensitive",
                                  "ETH resistant",
                                  "ETH inconclusive",
                                  "Not tested"
                                ]
                              }
                            }
                          },
                          "phenotyping": {
                            "type": "object",
                            "properties": {
                              "phenotypeInformationFirstLineDrugs": {
                                "type": "string",
                                "enum": ["Yes", "No"]
                              },
                              "rifampicin": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "ethambutol": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "pyrazinamide": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "isoniazid": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "phenotypeInformationOtherDrugs": {
                                "type": "string",
                                "enum": ["Yes", "No"]
                              },
                              "rifabutin": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "ofloxacin": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "ciprofloxacin": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "levofloxacin": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "gatifloxacin": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "amikacin": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "kanamycin": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "gentamicin": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "streptomycin": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "capreomycin": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "clofazimine": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "pas": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "linezolid": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "ethionamideProthionamide": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "rerizidone": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "amoxicilinClavulanate": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "thioacetazone": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "imipenemImipenemcilastatin": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "meropenem": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "clarythromycin": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "highDoseIsoniazid": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "bedaquiline": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "delamanid": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "prothionamide": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "pretothionamide": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              },
                              "pretomanid": {
                                "type": "object",
                                "properties": {
                                  "susceptibility": {
                                    "type": "string",
                                    "enum": [
                                      "Sensitive",
                                      "Resistant",
                                      "Inconclusive",
                                      "Not tested"
                                    ]
                                  },
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "MGIT",
                                      "LJ",
                                      "Microtitre plate",
                                      "MODS",
                                      "Other",
                                      "Not known"
                                    ]
                                  }
                                }
                              }
                            }
                          },
                          "treatment": {
                            "type": "object",
                            "properties": {
                              "previousTbinformation": {
                                "type": "string",
                                "enum": ["Yes", "No"]
                              },
                              "recentMdrTb": {
                                "type": "string",
                                "enum": ["Yes", "No", "Not known"]
                              },
                              "priorTreatmentDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "tbProphylaxis": {
                                "type": "string",
                                "enum": ["Yes", "No", "Not known"]
                              },
                              "tbProphylaxisDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "currentTbinformation": {
                                "type": "string",
                                "enum": ["Yes", "No"]
                              },
                              "startProgrammaticTreatment": {
                                "type": "string",
                                "enum": ["Yes", "No"]
                              },
                              "intensiveStartDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "intensiveStopDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "startProgrammaticContinuationTreatment": {
                                "type": "string",
                                "enum": ["Yes", "No", "Not known"]
                              },
                              "continuationStartDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "continuationStopDate": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "nonStandardTreatment": {
                                "type": "string",
                                "enum": ["Yes", "No", "Not known"]
                              },
                              "sputumSmearConversion": { "type": "string" },
                              "sputumCultureConversion": { "type": "string" },
                              "outsideStandardPhaseRifampicinRifabutin": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhaseEthambutol": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhasePyrazinamide": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhaseIsoniazid": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhaseOfloxacin": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhaseMoxifloxacin": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhaseLevofloxacin": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhaseGatifloxacin": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhaseAmikacin": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhaseGentamicin": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhaseStreptomycin": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhaseCapreomycin": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhaseClofazimine": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhasePas": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhaseLinezolid": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhaseEthionamideProthionamide": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhaseTerizidone": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhaseAmoxicilinClavulanate": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhaseThioacetazone": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhaseImipenemImipenemcilastatin": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhaseMeropenem": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhaseClarythromycin": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              },
                              "outsideStandardPhaseHighDoseIsoniazid": {
                                "type": "object",
                                "properties": {
                                  "start": {
                                    "type": "string",
                                    "format": "date"
                                  },
                                  "stop": { "type": "string", "format": "date" }
                                }
                              }
                            }
                          },
                          "outcome": {
                            "type": "object",
                            "properties": {
                              "whoOutcomeCategory": { "type": "string" },
                              "dateOfDeath": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "status": "success",
                "data": [
                  {
                    "id": "588624076182796462cb133e",
                    "owner": {
                      "firstname": "Sean",
                      "lastname": "Leavy",
                      "phone": "+44 7968 716851",
                      "email": "sean@gmail.com"
                    },
                    "created": "2018-07-19T13:23:18.776Z",
                    "modified": "2018-07-19T13:23:18.776Z",
                    "metadata": {
                      "patient": {
                        "patientId": "eff2fa6a-9d79-41ab-a307-b620cedf7293",
                        "siteId": "a2a910e3-25ef-475c-bdf9-f6fe215d949f",
                        "genderAtBirth": "Male",
                        "countryOfBirth": "India",
                        "age": 43,
                        "bmi": 25.3,
                        "injectingDrugUse": "No",
                        "homeless": "No",
                        "imprisoned": "No",
                        "smoker": "Yes",
                        "diabetic": "Insulin",
                        "hivStatus": "Not tested"
                      },
                      "sample": {
                        "labId": "d19637ed-e5b4-4ca7-8418-8713646a3359",
                        "isolateId": "9c0c00f2-8cb1-4254-bf53-3271f35ce696",
                        "collectionDate": "2018-10-19T00:00:00.000Z",
                        "prospectiveIsolate": "Yes",
                        "countryIsolate": "India",
                        "cityIsolate": "Mumbai",
                        "dateArrived": "2018-09-01T00:00:00.000Z",
                        "anatomicalOrigin": "Respiratory",
                        "smear": "Not known"
                      },
                      "genotyping": {
                        "wgsPlatform": "MiSeq",
                        "otherGenotypeInformation": "Yes",
                        "genexpert": "Not tested",
                        "hain": "INH/RIF test",
                        "hainRif": "RIF resistant",
                        "hainInh": "INH sensitive",
                        "hainFl": "Not tested",
                        "hainAm": "Not tested",
                        "hainEth": "Not tested"
                      },
                      "phenotyping": {
                        "phenotypeInformationFirstLineDrugs": "Yes",
                        "rifampicin": {
                          "susceptibility": "Resistant",
                          "method": "Not known"
                        },
                        "ethambutol": {
                          "susceptibility": "Sensitive",
                          "method": "Not known"
                        },
                        "pyrazinamide": {
                          "susceptibility": "Sensitive",
                          "method": "Not known"
                        },
                        "isoniazid": {
                          "susceptibility": "Sensitive",
                          "method": "Not known"
                        },
                        "phenotypeInformationOtherDrugs": "No"
                      }
                    }
                  }
                ]
              }
            }
          },
          "401": { "description": "Failed authentication" }
        }
      },
      "post": {
        "tags": ["Experiments"],
        "description": "Create new experiment",
        "operationId": "experimentsCreate",
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "experiment",
            "description": "The experiment data",
            "schema": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "owner": {
                  "type": "object",
                  "properties": {
                    "firstname": { "type": "string" },
                    "lastname": { "type": "string" },
                    "phone": { "type": "string" },
                    "email": { "type": "string" }
                  }
                },
                "organisation": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "location": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "lat": { "type": "number" },
                        "lng": { "type": "number" }
                      }
                    },
                    "collected": { "type": "string", "format": "date-time" },
                    "uploaded": { "type": "string", "format": "date-time" },
                    "jaccardIndex": {
                      "type": "object",
                      "properties": {
                        "analysed": { "type": "string", "format": "date-time" },
                        "engine": { "type": "string" },
                        "version": { "type": "string" }
                      }
                    },
                    "snpDistance": {
                      "type": "object",
                      "properties": {
                        "analysed": { "type": "string", "format": "date-time" },
                        "engine": { "type": "string" },
                        "version": { "type": "string" }
                      }
                    },
                    "geoDistance": {
                      "type": "object",
                      "properties": {
                        "analysed": { "type": "string", "format": "date-time" },
                        "engine": { "type": "string" },
                        "version": { "type": "string" }
                      }
                    }
                  }
                }
              },
              "example": {
                "owner": {
                  "firstname": "Sean",
                  "lastname": "Leavy",
                  "phone": "+44 7968 716851",
                  "email": "sean@gmail.com"
                },
                "organisation": {
                  "name": "Apex Entertainment",
                  "template": "Apex template"
                },
                "location": { "name": "London", "lat": 3.4, "lng": 3.4 },
                "collected": "2017-04-17T00:00:00.000Z",
                "uploaded": "2017-04-20T00:00:00.000Z",
                "jaccardIndex": {
                  "analysed": "2017-04-20T00:00:00.000Z",
                  "engine": ["engine"],
                  "version": 1
                },
                "snpDistance": {
                  "analysed": "2017-04-22T00:00:00.000Z",
                  "engine": ["engine"],
                  "version": 1
                },
                "geoDistance": {
                  "analysed": "2017-04-22T00:00:00.000Z",
                  "engine": ["engine"],
                  "version": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Experiment data",
            "schema": {
              "properties": {
                "status": { "type": "string" },
                "data": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "created": { "type": "string", "format": "date-time" },
                    "modified": { "type": "string", "format": "date-time" },
                    "owner": {
                      "type": "object",
                      "properties": {
                        "firstname": { "type": "string" },
                        "lastname": { "type": "string" },
                        "phone": { "type": "string" },
                        "email": { "type": "string" },
                        "id": { "type": "string" }
                      }
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "patient": {
                          "type": "object",
                          "properties": {
                            "patientId": { "type": "string" },
                            "siteId": { "type": "string" },
                            "genderAtBirth": { "type": "string" },
                            "countryOfBirth": { "type": "string" },
                            "age": { "type": "number" },
                            "bmi": { "type": "number" },
                            "injectingDrugUse": { "type": "string" },
                            "homeless": { "type": "string" },
                            "imprisoned": { "type": "string" },
                            "smoker": { "type": "string" },
                            "diabetic": { "type": "string" },
                            "hivStatus": { "type": "string" },
                            "art": { "type": "string" }
                          }
                        },
                        "sample": {
                          "type": "object",
                          "properties": {
                            "labId": { "type": "string" },
                            "isolateId": { "type": "string" },
                            "collectionDate": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "prospectiveIsolate": { "type": "boolean" },
                            "countryIsolate": { "type": "string" },
                            "cityIsolate": { "type": "string" },
                            "dateArrived": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "anatomicalOrigin": { "type": "string" },
                            "smear": { "type": "string" }
                          }
                        },
                        "genotyping": {
                          "type": "object",
                          "properties": {
                            "wgsPlatform": {
                              "type": "string",
                              "enum": ["HiSeq", "MiSeq", "NextSeq", "Other"]
                            },
                            "wgsPlatformOther": { "type": "string" },
                            "otherGenotypeInformation": {
                              "type": "string",
                              "enum": ["Yes", "No"]
                            },
                            "genexpert": {
                              "type": "string",
                              "enum": [
                                "RIF sensitive",
                                "RIF resistant",
                                "RIF inconclusive",
                                "Not tested"
                              ]
                            },
                            "hain": {
                              "type": "string",
                              "enum": [
                                "INH/RIF test",
                                "Fluoroquinolone/aminoglycoside/ethambutol test",
                                "Both",
                                "Not tested"
                              ]
                            },
                            "hainRif": {
                              "type": "string",
                              "enum": [
                                "RIF sensitive",
                                "RIF resistant",
                                "RIF inconclusive",
                                "Not tested"
                              ]
                            },
                            "hainInh": {
                              "type": "string",
                              "enum": [
                                "INH sensitive",
                                "INH resistant",
                                "INH inconclusive",
                                "Not tested"
                              ]
                            },
                            "hainFl": {
                              "type": "string",
                              "enum": [
                                "FL sensitive",
                                "FL resistant",
                                "FL inconclusive",
                                "Not tested"
                              ]
                            },
                            "hainAm": {
                              "type": "string",
                              "enum": [
                                "AM sensitive",
                                "AM resistant",
                                "AM inconclusive",
                                "Not tested"
                              ]
                            },
                            "hainEth": {
                              "type": "string",
                              "enum": [
                                "ETH sensitive",
                                "ETH resistant",
                                "ETH inconclusive",
                                "Not tested"
                              ]
                            }
                          }
                        },
                        "phenotyping": {
                          "type": "object",
                          "properties": {
                            "phenotypeInformationFirstLineDrugs": {
                              "type": "string",
                              "enum": ["Yes", "No"]
                            },
                            "rifampicin": {
                              "type": "object",
                              "properties": {
                                "susceptibility": {
                                  "type": "string",
                                  "enum": [
                                    "Sensitive",
                                    "Resistant",
                                    "Inconclusive",
                                    "Not tested"
                                  ]
                                },
                                "method": {
                                  "type": "string",
                                  "enum": [
                                    "MGIT",
                                    "LJ",
                                    "Microtitre plate",
                                    "MODS",
                                    "Other",
                                    "Not known"
                                  ]
                                }
                              }
                            },
                            "ethambutol": {
                              "type": "object",
                              "properties": {
                                "susceptibility": {
                                  "type": "string",
                                  "enum": [
                                    "Sensitive",
                                    "Resistant",
                                    "Inconclusive",
                                    "Not tested"
                                  ]
                                },
                                "method": {
                                  "type": "string",
                                  "enum": [
                                    "MGIT",
                                    "LJ",
                                    "Microtitre plate",
                                    "MODS",
                                    "Other",
                                    "Not known"
                                  ]
                                }
                              }
                            },
                            "pyrazinamide": {
                              "type": "object",
                              "properties": {
                                "susceptibility": {
                                  "type": "string",
                                  "enum": [
                                    "Sensitive",
                                    "Resistant",
                                    "Inconclusive",
                                    "Not tested"
                                  ]
                                },
                                "method": {
                                  "type": "string",
                                  "enum": [
                                    "MGIT",
                                    "LJ",
                                    "Microtitre plate",
                                    "MODS",
                                    "Other",
                                    "Not known"
                                  ]
                                }
                              }
                            },
                            "isoniazid": {
                              "type": "object",
                              "properties": {
                                "susceptibility": {
                                  "type": "string",
                                  "enum": [
                                    "Sensitive",
                                    "Resistant",
                                    "Inconclusive",
                                    "Not tested"
                                  ]
                                },
                                "method": {
                                  "type": "string",
                                  "enum": [
                                    "MGIT",
                                    "LJ",
                                    "Microtitre plate",
                                    "MODS",
                                    "Other",
                                    "Not known"
                                  ]
                                }
                              }
                            },
                            "phenotypeInformationOtherDrugs": {
                              "type": "string",
                              "enum": ["Yes", "No"]
                            },
                            "rifabutin": {
                              "type": "object",
                              "properties": {
                                "susceptibility": {
                                  "type": "string",
                                  "enum": [
                                    "Sensitive",
                                    "Resistant",
                                    "Inconclusive",
                                    "Not tested"
                                  ]
                                },
                                "method": {
                                  "type": "string",
                                  "enum": [
                                    "MGIT",
                                    "LJ",
                                    "Microtitre plate",
                                    "MODS",
                                    "Other",
                                    "Not known"
                                  ]
                                }
                              }
                            },
                            "ofloxacin": {
                              "type": "object",
                              "properties": {
                                "susceptibility": {
                                  "type": "string",
                                  "enum": [
                                    "Sensitive",
                                    "Resistant",
                                    "Inconclusive",
                                    "Not tested"
                                  ]
                                },
                                "method": {
                                  "type": "string",
                                  "enum": [
                                    "MGIT",
                                    "LJ",
                                    "Microtitre plate",
                                    "MODS",
                                    "Other",
                                    "Not known"
                                  ]
                                }
                              }
                            },
                            "ciprofloxacin": {
                              "type": "object",
                              "properties": {
                                "susceptibility": {
                                  "type": "string",
                                  "enum": [
                                    "Sensitive",
                                    "Resistant",
                                    "Inconclusive",
                                    "Not tested"
                                  ]
                                },
                                "method": {
                                  "type": "string",
                                  "enum": [
                                    "MGIT",
                                    "LJ",
                                    "Microtitre plate",
                                    "MODS",
                                    "Other",
                                    "Not known"
                                  ]
                                }
                              }
                            },
                            "levofloxacin": {
                              "type": "object",
                              "properties": {
                                "susceptibility": {
                                  "type": "string",
                                  "enum": [
                                    "Sensitive",
                                    "Resistant",
                                    "Inconclusive",
                                    "Not tested"
                                  ]
                                },
                                "method": {
                                  "type": "string",
                                  "enum": [
                                    "MGIT",
                                    "LJ",
                                    "Microtitre plate",
                                    "MODS",
                                    "Other",
                                    "Not known"
                                  ]
                                }
                              }
                            },
                            "gatifloxacin": {
                              "type": "object",
                              "properties": {
                                "susceptibility": {
                                  "type": "string",
                                  "enum": [
                                    "Sensitive",
                                    "Resistant",
                                    "Inconclusive",
                                    "Not tested"
                                  ]
                                },
                                "method": {
                                  "type": "string",
                                  "enum": [
                                    "MGIT",
                                    "LJ",
                                    "Microtitre plate",
                                    "MODS",
                                    "Other",
                                    "Not known"
                                  ]
                                }
                              }
                            },
                            "amikacin": {
                              "type": "object",
                              "properties": {
                                "susceptibility": {
                                  "type": "string",
                                  "enum": [
                                    "Sensitive",
                                    "Resistant",
                                    "Inconclusive",
                                    "Not tested"
                                  ]
                                },
                                "method": {
                                  "type": "string",
                                  "enum": [
                                    "MGIT",
                                    "LJ",
                                    "Microtitre plate",
                                    "MODS",
                                    "Other",
                                    "Not known"
                                  ]
                                }
                              }
                            },
                            "kanamycin": {
                              "type": "object",
                              "properties": {
                                "susceptibility": {
                                  "type": "string",
                                  "enum": [
                                    "Sensitive",
                                    "Resistant",
                                    "Inconclusive",
                                    "Not tested"
                                  ]
                                },
                                "method": {
                                  "type": "string",
                                  "enum": [
                                    "MGIT",
                                    "LJ",
                                    "Microtitre plate",
                                    "MODS",
                                    "Other",
                                    "Not known"
                                  ]
                                }
                              }
                            },
                            "gentamicin": {
                              "type": "object",
                              "properties": {
                                "susceptibility": {
                                  "type": "string",
                                  "enum": [
                                    "Sensitive",
                                    "Resistant",
                                    "Inconclusive",
                                    "Not tested"
                                  ]
                                },
                                "method": {
                                  "type": "string",
                                  "enum": [
                                    "MGIT",
                                    "LJ",
                                    "Microtitre plate",
                                    "MODS",
                                    "Other",
                                    "Not known"
                                  ]
                                }
                              }
                            },
                            "streptomycin": {
                              "type": "object",
                              "properties": {
                                "susceptibility": {
                                  "type": "string",
                                  "enum": [
                                    "Sensitive",
                                    "Resistant",
                                    "Inconclusive",
                                    "Not tested"
                                  ]
                                },
                                "method": {
                                  "type": "string",
                                  "enum": [
                                    "MGIT",
                                    "LJ",
                                    "Microtitre plate",
                                    "MODS",
                                    "Other",
                                    "Not known"
                                  ]
                                }
                              }
                            },
                            "capreomycin": {
                              "type": "object",
                              "properties": {
                                "susceptibility": {
                                  "type": "string",
                                  "enum": [
                                    "Sensitive",
                                    "Resistant",
                                    "Inconclusive",
                                    "Not tested"
                                  ]
                                },
                                "method": {
                                  "type": "string",
                                  "enum": [
                                    "MGIT",
                                    "LJ",
                                    "Microtitre plate",
                                    "MODS",
                                    "Other",
                                    "Not known"
                                  ]
                                }
                              }
                            },
                            "clofazimine": {
                              "type": "object",
                              "properties": {
                                "susceptibility": {
                                  "type": "string",
                                  "enum": [
                                    "Sensitive",
                                    "Resistant",
                                    "Inconclusive",
                                    "Not tested"
                                  ]
[...]
