@import '~styles/colors.global';

.componentWrap {
	display: flex;
	flex-wrap: wrap;
	margin-right: -0.5rem;
	margin-bottom: -0.5rem;
}

.remove {
	composes: global(text-mid);
	composes: global(px-2);
	font-size: 14/16 * 1rem;
	line-height: 1;
}

.clear {
	composes: global(btn);
	composes: global(text-mid);
	composes: global(p-0);
}

.element {
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}
