@import '~styles/colors.global';

.componentWrap {
	display: flex;
	flex-wrap: wrap;
	margin-right: -0.5rem;
	margin-bottom: -0.5rem;
}

.widthSizer {
	visibility: hidden;
	padding: 0 1.3rem;
	height: 0;
}

.remove {
	composes: global(text-mid);
	composes: global(ml-1);
}

.clear {
	composes: global(text-mid);
}

.element {
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}
