

::-webkit-input-placeholder {
  color: var(--color-placeholder);
}

::-moz-placeholder {
  color: var(--color-placeholder);
}

:-moz-placeholder {
  color: var(--color-placeholder);
}

:-ms-input-placeholder {
  color: var(--color-placeholder);
}

::-ms-input-placeholder {
  color: var(--color-placeholder);
}

::placeholder {
  color: var(--color-placeholder);
}

.placeholder {
  color: var(--color-placeholder);
}

label {
  padding: 6px 0;
}

input[type="radio"],
input[type="checkbox"],
input[type="radio"] + label,
input[type="checkbox"]  + label
{
  cursor: pointer;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked  + label
{
  color: var(--color-tint-secondary);
}

input[type="search"],
input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
input[type="submit"],
textarea,
select
{
  font-family: "Minion-Regular", serif;
  font-size: 19px;
  line-height: 24px;
  color: var(--color-text);
  transition: all 0.1s;
  outline: none;
  border: none;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  background: none;
}

input:focus {
  outline: none;
}

input[type="search"],
input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
input[type="submit"],
textarea,
select
{
  border: 1px solid var(--color-rule);
  background-color: var(--color-buff);
  border-radius: 4px;
  padding: 5px 8px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="search"]:focus,
textarea:focus,
select:focus
{
  border-color: var(--color-tint-secondary);
}

select::after {
  /*display: block;
  position: absolute;
  right: pixels-to-ems(12, $base-font-size-pixels);
  bottom: 0;
  top: 0;*/
  content: '\f0d7';
  font-family: FontAwesome;
  pointer-events: none;
  display:block;
}
