::-webkit-input-placeholder {
  color: var(--color-placeholder);
}

::-moz-placeholder {
  color: var(--color-placeholder);
}

:-moz-placeholder {
  color: var(--color-placeholder);
}

:-ms-input-placeholder {
  color: var(--color-placeholder);
}

::-ms-input-placeholder {
  color: var(--color-placeholder);
}

::placeholder {
  color: var(--color-placeholder);
}

.placeholder {
  color: var(--color-placeholder);
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  cursor: pointer;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  color: var(--color-tint-secondary);
}
