
@font-face {
	font-family: 'Minion-Regular';
	src: url("./webfonts/2AB146_0_0.eot");
	src: url("./webfonts/2AB146_0_0.eot?#iefix") format("embedded-opentype"), url("./webfonts/2AB146_0_0.woff") format("woff"), url("./webfonts/2AB146_0_0.ttf") format("truetype");
}

@font-face {
	font-family: 'Bryant2-Bold';
	src: url("./webfonts/BryantWebBold.eot");
	src: url("./webfonts/BryantWebBold.eot?#iefix") format("embedded-opentype"), url("./webfonts/BryantWebBold.woff") format("woff");
}

.font {
	font-family: "Minion-Regular", serif;
}

.fontSizeExtraLarge {
	font-size: 36px;
}

.fontSizeLarge {
	font-size: 24px;
}

.fontSizeNormal {
	font-size: 19px;
}

.fontSizeSmall {
	font-size: 14px;
}

.fontSecondary {
	font-family: 'Bryant2-Bold', sans-serif;
	text-transform: uppercase;
}

.fontSecondarySizeNormal {
	font-size: 17px;
}

.fontSecondarySizeSmall {
	font-size: 14px;
}

.titleExtraLarge {
	composes: font;
	composes: fontSizeExtraLarge;
	color: var(--color-tint-primary);
}

.subheading {
	composes: fontSecondary;
	display: flex;
	width: 100%;
	color: var(--color-tint-primary);
	padding-bottom: 8px;
	border-bottom: 1px solid var(--color-rule);
}

:global(body) {
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Minion-Regular", serif;
	font-size: 19px;
	line-height: 1.2;
}