.container {
  /* composes: container from 'styles/layout.css';
   */
  display: flex;
  flex-direction: column;
}

.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  composes: font from 'styles/typography.css';
  composes: fontSizeLarge from 'styles/typography.css';
}

.navigation {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.navigationItem {
  composes: button from 'styles/controls.css';
  background: none;
  color: var(--color-tint-primary);
}

.navigationItemActive {
  composes: navigationItem;
  color: white;
  background-color: var(--color-tint-primary);
}
