@import '~styles/colors';

.checkboxContainer {
  composes: global(form-group);
  margin: 0;
}

.dropdownToggle {
  composes: global(text-mid);
  composes: global(px-2);
}

.susceptibilityProfile {
  white-space: nowrap;
  &:hover {
    opacity: 1;
  }
}
