@import '~styles/colors.global';

.container {
	composes: container from 'styles/layout.css';
	background-color: $color-background;
	flex-direction: column;
}

.title {
	composes: font from 'styles/typography.css';
	composes: fontSizeLarge from 'styles/typography.css';
}

.navigation {
	display: flex;
	padding-bottom: 20px;
	align-items: center;
	justify-content: center;
}

.navigationItem {
	composes: button from 'styles/controls.css';
	background-color: transparent;
	color: $color-tint-primary;
}

.navigationItemActive {
	composes: navigationItem;
	color: white;
	background-color: $color-tint-primary;
}
