@import '~styles/colors.global';

.container {
	composes: container from 'styles/layout.scss';
	flex-direction: column;
}

.headerContainer {
	composes: global(border-top);
	composes: global(border-bottom);
	composes: global(py-3);
	background-color: $color-panel-light;
}

.headerContainerInner {
	position: relative;
}

.searchContainer {
	composes: containerAbsolute from 'styles/layout.scss';
	display: flex;
	align-items: center;
	justify-content: center;
	input[name='q'] {
		background-color: $color-white;
		padding-left: 1.5rem;
		/* TODO: find a clean way to override input border radius */
		border-top-left-radius: 500px !important;
		border-bottom-left-radius: 500px !important;
	}
	button[type='submit'] {
		i {
			font-size: 1rem;
		}
	}
}

.actionsContainer {
	composes: global(py-3);
	display: flex;
	flex-direction: row;
}

.filtersActionsContainer {
	display: flex;
	flex-direction: row;
}
