.table {
  width: 100%;
  border-collapse: collapse;
}

.tableCell {
  padding: 10px 12px;
  text-align: left;
  border-bottom: 1px solid var(--color-rule);
}

.tableHeading {
  composes: tableCell;
  composes: subtitleSmall from 'css/typography.css';
  padding: 13px 12px;
  background: var(--color-grey-panel);
}

.tableData {
  composes: tableCell;
}

.experimentLink {
  color: var(--color-tint-primary);
}
