.container {
  composes: containerAbsolute from 'styles/layout.css';
  flex-direction: column;
}

.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  composes: font from 'styles/typography.css';
  composes: fontSizeLarge from 'styles/typography.css';
}

.content {
  background: white;
  padding: 30px 40px;
  flex: 1;
  overflow-y: auto;
}

.experimentsHeader {
  margin-bottom: 20px;
}
