.header {
  composes: container from 'styles/layout.scss';
  align-items: center;
  justify-content: space-between;
}

.filters {
  flex: 1 0 75%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.filter {
  display: flex;
  align-items: center;
}

.subFilter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subFilterLabel {
  margin: 0 10px;
}

.clearFilters {
  composes: fontSecondary from 'styles/typography.scss';
  composes: fontSizeSmall from 'styles/typography.scss';
  color: var(--color-grey-dark);
  text-transform: uppercase;
  display: block;
  padding: 5px 10px;
  white-space: nowrap;
}

.count {
}
