.container {
  composes: containerAbsolute from "css/layout.css";
  pointer-events: none;
}

.background {
  fill: none;
  stroke: green;
}

.foreground {
  fill: none;
  transition: stroke-dashoffset .5s ease-in-out;
  stroke: red;
  transform-origin:center center;
  transform:rotate(-90deg);
}
