
.container {
  composes: containerAbsolute from "css/layout.css";
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerDragActive {
  composes: container;
  border: 12px solid var(--color-grey-mid);
  transition: border 0.5s linear;
}

.promptContainer {
  position:absolute;
  background-color: white;
  width: 480px;
  height: 480px;
  border-radius: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.promptIcon {
  background:url(static/drag-and-drop-arrow.svg);
  width: 104px;
  height: 128px;
}

.promptTitle {
  composes: fontSizeLarge from "css/typography.css";
  padding: 36px 0;
}

.backButton {
  position: absolute;
}

.button {
  composes: buttonOutline from "css/controls.css";
}