.container {
  composes: module from "css/layout.css";
  flex: 2;
  flex-direction: column;
  position: relative;
}

.controlsContainer {
  position:absolute;
  left:0;
  bottom:0;
  z-index:1;
}

.title {
  composes: subtitleRuled from "css/typography.css";
}