.container {
  composes: container from "css/layout.css";
  flex-direction: column;
  position: relative;
}

.controlsContainer {
  position:absolute;
  left:0;
  bottom:0;
  z-index:1;
}

.zoomControl {
  composes: overlayControl from "css/controls.css";
}

.zoomControlText {
  composes: overlayControlText from "css/controls.css";
}