
.container {
  composes: containerAbsolute from "css/layout.css";
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerDragActive {
  composes: container;
  border: 12px solid var(--color-tint-primary);
}

.promptContainer {
  background-color: white;
  width: 480px;
  height: 480px;
  border-radius: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.backButton {
  position: absolute;
}

.button {
  composes: buttonOutline from "css/controls.css";
}