.container {
  composes: containerAbsolute from "css/layout.css";
  flex-direction: column;
}

.header {
  height:120px;
  display:flex;
  justify-content: center;
  min-width: 1024px;
}

.navigation {
  align-self:flex-end;
  display: flex;
  padding-bottom: 20px;
}

.navigationItem {
  composes: button from "css/controls.css";
  background: none;
  color: var(--color-grey-dark);
}

.navigationItemActive {
  composes: navigationItem;
  color: white;
  background-color: var(--color-grey-dark);
}