.container {
  composes: container from "css/layout.css";
  padding: 18px;
  overflow-y: auto;
  background-color: white;
}

.drugs {
  padding: 8px 0;
}

.indicator {
  composes: subtitleSmall from "css/typography.css";
  display: inline-block;
}

.susceptible {
  composes: indicator;
  color: var(--color-susceptible);
}

.susceptible::before {
  font-family: FontAwesome;
  content: "\f058\00a0";
}

.resistant {
  composes: indicator;
  color: var(--color-resistant);
}

.resistant::before {
  font-family: FontAwesome;
  content: "\f071\00a0";
}

.inconclusive {
  composes: indicator;
  color: var(--color-inconclusive);
}

.inconclusive::before {
  font-family: FontAwesome;
  content: "\f146\00a0";
}
