
.container {
  composes: container from "css/layout.css";
  background-color: var(--color-background);
}

.notificationsContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

.analysingContainer {
  composes: containerAbsolute from "css/layout.css";
}

.headerContainer {
  composes: containerAbsolute from "css/layout.css";
}

.menuContainer {
  position: relative;
}

.contentContainer {
  composes: containerAbsolute from "css/layout.css";
}
