.container {
	composes: container from 'styles/layout.scss';
	flex-direction: column;
	background-color: white;
}

.summaryContainer {
	composes: container from 'styles/layout.scss';
	flex-wrap: wrap;
	flex-direction: row;
	padding: 18px;
	align-items: stretch;
}

.title {
	composes: titleExtraLarge from 'styles/typography.scss';
	text-align: center;
	width: 100%;
	padding: 30px 30px 0;
}
