@import '~styles/colors';
@import '~styles/use-bootstrap';

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.clusterContainer {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
  canvas {
    // width and height are set programatically
    position: absolute;
    left: 0;
    top: 0;
  }
}

.emptyContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex: 1;
}

.searchingContainer {
  margin: 30px;
}
