@import '~styles/colors.global';

.fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

.ruleTop {
	padding: 0 0 8px;
	margin-bottom: 24px;
	border-bottom: 1px solid $color-rule;
	width: 100%;
}

.legend {
	composes: subtitleSmall from 'styles/typography.scss';
	composes: ruleTop;
	color: $color-tint-primary;
	font-weight: bold;
}
