.wrap {
  composes: wrap from "css/form.css";
}

.label {
  composes: label from "css/form.css";
}

.inputWrap {
  position: relative;
}

.inputWrap::after {
  position: absolute;
  right:0;
  content:'a';
  font-family: FontAwesome;
  content: "\f0d7";
  font-size: 19px;
  line-height: 24px;
  color: var(--color-grey-mid);
  padding: 5px 8px;
  pointer-events: none;
}

.input {
  composes: input from "css/form.css";
  padding-right: 24px;
}
