.wrap {
  composes: wrap from 'styles/form.css';
}

.label {
  composes: label from 'styles/form.css';
}

.inputWrap {
  position: relative;
}

.inputWrap::after {
  position: absolute;
  right: 0;
  font-family: FontAwesome;
  content: '\f0d7';
  font-size: 19px;
  line-height: 24px;
  color: var(--color-grey-mid);
  padding: 5px 8px;
  pointer-events: none;
}

.input {
  composes: input from 'styles/form.css';
  padding-right: 24px;
}
