.wrap {
  composes: wrap from 'styles/form.css';
}

.label {
  composes: label from 'styles/form.css';
}

.items {
  display: flex;
  flex-wrap: wrap;
  vertical-align: top;
}

.item {
  padding-right: 24px;
}

.item:last-child {
  padding-right: 0;
}

.input {
  margin-right: 8px;
  cursor: pointer;
}
