.container {
  composes: container from "css/layout.css";
  width: 260px;
  height: 100%;
  background: white;
  flex-direction: column;
  transform: translateX(-260px);
  transition: transform 0.3s;
  position: relative;
  z-index: 2;
  pointer-events: auto;
}

.containerDisplayed {
  composes: container;
  transform: translateX(0);
}

.logoWrap {
  border-top: 1px solid var(--color-rule);
  margin: 84px 0 20px 40px;
  padding-top: 20px;
}

.logo {
  width: 133px;
}

.navigation {
  margin: 0 0 0 40px;
  padding: 0;
  border-bottom: 1px solid var(--color-rule);
}

.navigationItem {
  border-top: 1px solid var(--color-rule);
  list-style: none;
}

.navigationLink {
  composes: fontSecondary from "css/typography.css";
  composes: fontSecondarySizeSmall from "css/typography.css";
  display: block;
  padding: 13px 0;
  color: var(--color-grey-dark);
}

.navigationLinkActive {
  composes: navigationLink;
  color: var(--color-tint-primary);
}
