.container {
  composes: containerAbsolute from "css/layout.css";
  flex-direction: column;
}

.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  composes: font from "css/typography.css";
  composes: fontSizeLarge from "css/typography.css";
}

.navigation {
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.navigationItem {
  composes: button from "css/controls.css";
  background: none;
  color: var(--color-tint-primary);
}

.navigationItemActive {
  composes: navigationItem;
  color: white;
  background-color: var(--color-tint-primary);
}
