.container {
  composes: containerAbsolute from "css/layout.css";
  flex-direction: column;
}

.header {
  height: 130px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  composes: font from "css/typography.css";
  composes: fontSizeLarge from "css/typography.css";
  width: 100%;
  text-align: center;
}

.navigation {
  align-self: flex-end;
  display: flex;
  padding-bottom: 20px;
}

.navigationItem {
  composes: button from "css/controls.css";
  background: none;
  color: var(--color-tint-primary);
}

.navigationItemActive {
  composes: navigationItem;
  color: white;
  background-color: var(--color-tint-primary);
}
