.container {
  composes: containerCompact from 'styles/layout.scss';
  padding: 18px;
  background-color: white;
  flex-wrap: wrap;
  overflow-y: auto;
}

// platform - electron only

:global(html[data-platform='electron']) {
  .container {
    overflow-y: scroll;
  }
}

.evidence {
  padding: 8px 0;
}

.empty {
  display: flex;
  flex: 1;
}
