.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.svgContainer {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
  svg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text {
      font-family: 'Bryant2-Bold', sans-serif;
      text-transform: uppercase;
    }
  }
}

.controlsContainer {
  position: absolute;
  left: 1rem;
  top: 1rem;
}
