.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.navigationWrap {
  background-color: var(--color-buff-dark);
}

.navigationContainer {
  composes: global(py-3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigationItem {
  composes: fontSecondary from 'styles/typography.css';
  composes: fontSecondarySizeSmall from 'styles/typography.css';
  text-transform: uppercase;
  height: 24px;
  padding: 0 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-tint-primary);
  line-height: 1;
}

.navigationItemActive {
  composes: navigationItem;
  color: white;
  background-color: var(--color-tint-primary);
}
