@import '~styles/colors.global';

.container {
  composes: global(py-4);
}

.organisationProfile {
  composes: global(mb-4);
}

.name {
  text-align: center;
}

.description {
  text-align: center;
}

.actionsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  > * {
    margin-right: 0.5rem;
  }
  composes: global(mb-4);
}

.statContainer {
  text-align: center;
}

.statValue {
  composes: fontSizeExtraExtraExtraLarge from 'styles/typography.scss';
  composes: fontSecondary from 'styles/typography.scss';
  color: $color-tint-supporting;
}

.statValueUnit {
  composes: fontSizeExtraExtraLarge from 'styles/typography.scss';
}

.badge {
  composes: fontSizeExtraLarge from 'styles/typography.scss';
}

.badgeTypeGold {
  composes: badge;
  color: $color-tint-supporting;
}

.badgeTypeWarn {
  composes: badge;
  color: $color-grey-mid;
}
