.container {
  composes: containerAbsolute from "css/layout.css";
  flex-direction: column;
}

.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  composes: font from "css/typography.css";
  composes: fontSizeLarge from "css/typography.css";
}

.content {
  background: white;
  padding: 30px 40px;
  flex: 1;
  overflow-y: auto;
}

.experimentsHeader {
  margin-bottom: 20px;
}
