.lozengeContainer {
	position: absolute;
	animation: fadein 2s;
}

.lozenge {
	border-radius: 500px;
	width: 185px;
	height: 65px;
}

.lozengeBlue {
	composes: lozenge;
	background-color: rgba(0, 93, 138, 0.8);
}

.lozengeYellow {
	composes: lozenge;
	background-color: rgba(255, 137, 0, 0.7);
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
