.predictor-enterics-logo {
  background: url(static/predictor-enterics-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 0;
  padding-bottom: calc(100% * 60 / 211);
}

.predictor-s-aureus-logo {
  background: url(static/predictor-s-aureus-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 0;
  padding-bottom: calc(100% * 60 / 185);
}

.predictor-tb-logo {
  background: url(static/predictor-tb-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 0;
  padding-bottom: calc(100% * 60 / 184);
}

.atlas-tb-logo {
  background: url(static/atlas-tb-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 0;
  padding-bottom: calc(100% * 60 / 133);
}
