.container {
  composes: containerAbsolute from 'styles/layout.scss';
  pointer-events: none;
}

.background {
  fill: none;
  stroke: white;
}

.foreground {
  fill: none;
  transition: stroke-dashoffset 2s linear;
  stroke: var(--color-grey-light);
  transform-origin: center center;
  transform: rotate(-90deg);
}
