@import '~styles/colors.global';

.container {
	display: flex;
	flex: 1;
}

.svgContainer {
	width: 100%;
	height: 100%;
}

.fill {
	stroke: $color-grey-light;
	transition: stroke-dashoffset 2s linear;
}

.well {
	stroke: white;
	fill: none;
}
