.container {
  composes: container from '~styles/layout.scss';
  position: relative;
  :global(#phyloCanvasDiv__canvas) {
    // remove inline z-index to allow natural dom layering
    z-index: auto !important;
  }
}

.controlsContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}

.zoomControl {
  composes: overlayControl from '~styles/controls.scss';
}

.zoomControl + .zoomControl {
  margin-left: 4px;
}

.zoomInControl {
  composes: zoomControl;
}

.zoomOutControl {
  composes: zoomControl;
}

.zoomResetControl {
  composes: zoomControl;
  font-size: 140%;
}
