.container {
  position: relative;
}

/* toggle */

.toggle {
  composes: buttonOutlineLarge from 'styles/controls.scss';
}

.toggleArrow {
  margin-left: 10px;
}

/* popover */

.popover {
  position: absolute;
  width: 100%;
  background: white;
  box-shadow: 0 4px 4px rgba(154, 152, 147, 0.5);
  border-radius: 4px;
  border: 1px solid var(--color-rule);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, margin, visibility;
  transition-duration: 0.15s;
}

.popoverAbove {
  composes: popover;
  bottom: 100%;
  margin-bottom: 12px;
}

.popoverBelow {
  composes: popover;
  top: 100%;
  margin-top: 12px;
}

.popoverHidden {
  composes: popoverAbove;
  opacity: 0;
  visibility: hidden;
  margin: 8px 0;
}

.popoverAboveHidden {
  composes: popoverAbove;
  composes: popoverHidden;
}

.popoverBelowHidden {
  composes: popoverBelow;
  composes: popoverHidden;
}

/* popover triangle */

.popover::after {
  left: 50%;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  margin-left: -5px;
  border-style: solid;
  border-width: 5px;
  border-color: transparent transparent white white;
}

.popoverAbove::after {
  bottom: -8px;
  box-shadow: -3px 3px 5px rgba(154, 152, 147, 0.5);
  transform-origin: 0 0;
  transform: rotate(-45deg);
}

.popoverBelow::after {
  top: -3px;
  border-color: transparent transparent white white;
  box-shadow: -1px 1px 0 var(--color-grey-light);
  transform: rotate(135deg);
}

/* popover content */

.popoverList {
  padding: 0;
  margin: 0;
  border-top: 0;
}

.popoverItem {
  list-style: none;
}

.popoverItem + .popoverItem {
  border-top: 1px solid var(--color-rule);
}

.popoverLink {
  composes: fontSecondary from 'styles/typography.scss';
  composes: fontSecondarySizeSmall from 'styles/typography.scss';
  color: var(--color-grey-dark);
  display: block;
  padding: 13px 12px; /* makes height ~44px */
}
