@import '~styles/colors';

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.icon {
  color: $color-grey-light;
}

.title {
  composes: font from '~styles/typography.scss';
  composes: fontSizeLarge from '~styles/typography.scss';
  color: $color-grey-mid;
  margin: 15px 0 10px;
}

.text {
  composes: font from '~styles/typography.scss';
  composes: fontSizeNormal from '~styles/typography.scss';
  color: $color-grey-mid;
  margin: 0;
}
