.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.icon {
  color: var(--color-grey-light);
}

.title {
  composes: font from 'styles/typography.css';
  composes: fontSizeLarge from 'styles/typography.css';
  color: var(--color-grey-mid);
  margin: 15px 0 10px;
}

.text {
  composes: font from 'styles/typography.css';
  composes: fontSizeNormal from 'styles/typography.css';
  color: var(--color-grey-mid);
  margin: 0;
}
