@import '~styles/colors.global';

.container {
	composes: global(border-top);
	composes: global(border-bottom);
	background-color: $color-panel-light;
}

/* header */

.progress {
	align-items: center;
	display: flex;
	justify-content: center;
	padding: 2rem 0 1rem 0;
}

.percent {
	composes: fontSecondary from 'styles/typography.scss';
	border: 10px solid $gray-200;
	border-radius: 50%;
	display: inline-block;
	margin-right: 1.5rem;
	position: relative;
	padding: 3rem;
}

.percentContent {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.percentValue {
	composes: fontSizeExtraLarge from 'styles/typography.scss';
}

.percentSign {
}

.titleHead {
	color: $color-grey-dark;
}

.titleSubhead {
	color: $color-grey-mid;
}

.navigation {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navigationItem {
	composes: fontSecondary from 'styles/typography.scss';
	composes: fontSecondarySizeNormal from 'styles/typography.scss';
	padding: 1rem 1rem 0.75rem 1rem;
	text-transform: uppercase;
	color: $color-text;
	border-bottom: 0.25rem solid transparent;
}

.navigationItemActive {
	composes: navigationItem;
	color: $color-tint-primary;
	border-bottom-color: $color-tint-primary;
}
