.container {
  composes: container from "css/layout.css";
  background-color: white;
  flex-direction: column;
  overflow-y: auto;
}

.formContainer {
  padding: 30px;
}

.formContainer input[type="radio"], .formContainer input[type="checkbox"] {
  margin-right: 8px;
}

.formRow {
  display: flex;
  width:100%;
  padding-bottom: 24px;
}

.formRowLabel {
  display: flex;
  width: 25%;
  padding-right: 24px;
  color: var(--color-grey-mid);
}

.susceptibilityPicker {
  border-collapse: collapse;
  border-bottom:1px solid var(--color-rule);
}

.susceptibilityPicker td {
  border-top:1px solid var(--color-rule);
}

.susceptibilityPicker td+td {
  padding: 8px 0 8px 24px;
}

.susceptibilityPicker td label {
   color: var(--color-grey-mid);
}