.susceptibilityWrap {
  composes: wrap from "css/form.css";
}

.susceptibilityLabel {
  composes: label from "css/form.css";
}

.susceptibilityRows {
  border-bottom: 1px solid var(--color-rule);
  width: 60%;
}

.susceptibilityRow {
  border-top: 1px solid var(--color-rule);
  padding: 8px 0;
}
