.container {
  composes: container from 'styles/layout.css';
  flex-direction: column;
  background-color: white;
  overflow-y: auto;
}

.summaryContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 18px;
}

.title {
  composes: titleExtraLarge from 'styles/typography.css';
  text-align: center;
  width: 100%;
  padding: 30px 30px 0;
}
