.container {
  composes: container from "css/layout.css";
  flex-direction: column;
  background-color: white;
}

.summaryContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  padding: 18px;
}

.title {
  composes: titleExtraLarge from "css/typography.css";
  text-align: center;
  width:100%;
  padding: 30px 30px 0 30px;
}
