.container {
  composes: container from 'styles/layout.scss';
  flex-direction: column;
}

.title {
  composes: subtitle from 'styles/typography.scss';
  color: var(--color-grey-mid);
  padding: 8px 0;
}

.group + .group {
  margin-top: 12px;
}
