@import '~styles/colors';

.container {
  background-color: $color-grey-panel;
}

.contentWrap {
  display: flex;
  flex: 1;
  padding: 1.5rem 0;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 1rem;
}

.item + .item::before {
  color: $color-grey-mid;
  content: '\a0\a0\b7\a0\a0';
}

.link {
  color: $color-grey-dark;
}
