.wrap {
  color: white;
  display: block;
  padding: 5px 10px;
  position: relative;
}

.message {
  composes: wrap;
  background: var(--color-app-blue);
  color: white;
}

.error {
  composes: wrap;
  background: var(--color-app-red);
  color: white;
}

.success {
  composes: wrap;
  background: var(--color-app-green);
  color: white;
}

.content {
  composes: fontPrimary from "css/typography.css";
  composes: fontSizeNormal from "css/typography.css";
  margin: 5px 0;
  text-align: center;
}

.icon {
  margin-right: 10px;
}

.close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 12px;
}
