@import '~styles/colors.global';

.container {
	composes: global(py-2);
	composes: global(px-2);
	display: flex;
	flex-direction: column;
	line-height: 1.2;
}

.iconBase {
	composes: global(pr-2);
	font-size: 16/16 * 1rem;
}

.messageIcon {
	composes: iconBase;
	color: $info;
}

.errorIcon {
	composes: iconBase;
	color: $danger;
}

.successIcon {
	composes: iconBase;
	color: $success;
}

.contentAndButtons {
	display: flex;
	flex-direction: row;
}

.content {
	overflow: hidden;
}

.contentConstrained {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.buttons {
	display: flex;
	flex-direction: row;
	margin-left: auto;
}

.button {
	composes: global(pl-2);
	color: $color-grey-mid;
	font-size: 16/16 * 1rem;
}

.actions {
	display: flex;
	flex-direction: row;
	margin-left: auto;
}
