@import '~styles/colors.global';

.container {
	padding: 0.75rem 0.5rem;
	display: flex;
	flex-direction: column;
	line-height: 1.2;
	pointer-events: auto;
	position: relative;
	overflow: hidden;
}

.containerSeparate {
	composes: container;
	background-color: white;
	border-radius: 3/16 * 1rem;
}

.containerSeparate + .containerSeparate {
	margin-top: 0.25rem;
}

.containerJoined {
	composes: container;
	composes: global(border-bottom);
	background-color: white;
}

.iconBase {
	padding-right: 0.5rem;
	font-size: 16/16 * 1rem;
}

.messageIcon {
	composes: iconBase;
	color: $info;
}

.errorIcon {
	composes: iconBase;
	color: $danger;
}

.successIcon {
	composes: iconBase;
	color: $success;
}

.contentAndButtons {
	display: flex;
	flex-direction: row;
}

.content {
	overflow: hidden;
}

.contentConstrained {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.buttons {
	display: flex;
	flex-direction: row;
	margin-left: auto;
}

.button {
	padding-left: 0.5rem;
	color: $color-grey-mid;
	font-size: 16/16 * 1rem;
}

.actions {
	display: flex;
	flex-direction: row;
	margin-left: auto;
}

.progress {
	position: absolute;
	left: 0;
	top: 0;
	height: 0.25rem;
	background-color: $color-tint-primary;
}
