@import '~styles/colors.global';

.container {
  composes: container from 'styles/layout.scss';
  position: relative;
}

.notificationsContainer {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  pointer-events: none;
  left: 60%;
}

.notificationsContainerElectron {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  pointer-events: none;
  left: 1rem;
}

.headerContainer {
  composes: containerAbsolute from 'styles/layout.scss';
  bottom: auto;
  pointer-events: none;
}

.menuContainer {
  composes: containerAbsolute from 'styles/layout.scss';
  display: block;
  flex: initial;
  pointer-events: none;
}

.contentContainer {
  composes: container from 'styles/layout.scss';
}

.dragIndicator {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0.7;
  border: 12px solid $color-grey-mid;
}
