.container {
  composes: container from 'styles/layout.css';
  flex-direction: column;
}

.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  composes: fontSizeLarge from 'styles/typography.css';
}

.contentContainer {
  composes: container from 'styles/layout.css';
  padding: 30px 40px;
  background: white;
  flex: 1;
  overflow-y: auto;
}

.contentTitle {
  composes: fontSizeExtraLarge from 'styles/typography.css';
  line-height: 1;
  border-bottom: 1px solid var(--color-grey-light);
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.formContainer {
  composes: container from 'styles/layout.css';
  flex-direction: column;
}

.formErrors {
  padding-bottom: 20px;
}

.formRow {
  composes: container from 'styles/layout.css';
}

.formRow + .formRow {
  padding-top: 20px;
}

.label {
  composes: label from 'styles/form.css';
}

.input {
  composes: input from 'styles/form.css';
  width: 50%;
}

.selectWrap {
  position: relative;
  width: 50%;
}

.selectWrap::after {
  position: absolute;
  right: 0;
  font-family: FontAwesome;
  content: '\f0d7';
  font-size: 19px;
  line-height: 24px;
  color: var(--color-grey-mid);
  padding: 5px 8px;
  pointer-events: none;
}

.select {
  composes: input;
  width: 100%;
  padding-right: 24px;
}

.button {
  composes: buttonPrimary from 'styles/controls.css';
}

.formActions {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid var(--color-rule);
}

.formActions > * + * {
  padding-left: 20px;
}

.formActions .destructiveAction {
  margin-left: auto;
}

.formActions .destructiveAction a {
  color: var(--color-app-red);
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.tableCell {
  padding: 10px 12px;
  text-align: left;
  border-bottom: 1px solid var(--color-rule);
}

.tableHeading {
  composes: tableCell;
  composes: subtitleSmall from 'styles/typography.css';
  padding: 13px 12px;
  background: var(--color-grey-panel);
}

.tableData {
  composes: tableCell;
}

.link {
  color: var(--color-tint-primary);
}
