.container {
  composes: containerAbsolute from "css/layout.css";
  pointer-events: none;
  transform: rotate(-90deg);
}

.background {
  fill: none;
  stroke: white;
}

.foreground {
  fill: none;
  transition: stroke-dashoffset 0.3s linear;
  stroke: var(--color-grey-light);
  transform-origin: center center;
}

.foregroundLight {
  composes: foreground;
  stroke: var(--color-grey-light);
}

.foregroundDark {
  composes: foreground;
  stroke: var(--color-grey-mid);
}
