
.container {
  composes: container from "css/layout.css";
}

.containerDragActive {
  composes: container;
  border: 12px solid var(--color-grey-mid);
}

.contentContainer {
  composes: containerAbsolute from "css/layout.css";
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  position: relative;
  background-color: white;
  width: 480px;
  height: 480px;
  border-radius: 240px;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logoWrap {
  margin-bottom: 30px;
}

.logo {
  width: 192px;
}

.title {
  composes: fontPrimary from "css/typography.css";
  composes: fontSizeLarge from "css/typography.css";
  text-align: center;
  margin-bottom: 30px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.buttonOffscreen {
  position: absolute;
  left: -9999px;
  top: -9999px;
}
