
.container {
  composes: container from "css/layout.css";
}

.containerDragActive {
  composes: container;
  border: 12px solid var(--color-grey-mid);
}

.contentContainer {
  composes: containerAbsolute from "css/layout.css";
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  position: relative;
  background-color: white;
  width: 480px;
  height: 480px;
  border-radius: 50%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logoWrap {
  margin-bottom: 30px;
}

.title {
  font-size: 24px; /* composes: fontSizeLarge from "css/typography.css"; */
  text-align: center;
  margin-bottom: 30px;
}

.buttonContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 60px;
}

.buttonOffscreen {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.button {
  composes: buttonOutlineLarge from "css/controls.css";
}

.progressTextContainer {
  composes: containerAbsolute from "css/layout.css";
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.progressStatus {
  composes: fontSecondary from "css/typography.css";
  position: absolute;
  bottom: 140px;
  left: 64px;
  right: 64px;
  text-align: center;
}

.progressTitle {
  composes: fontSecondary from "css/typography.css";
  font-size: 96px;
  color: var(--color-grey-light);
}

.dots {
  composes: containerAbsolute from "css/layout.css";
  pointer-events: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dot {
  opacity: 0;
  border-radius: 500px;
  width: 48px;
  height: 48px;
  margin: 12px;
  background-color: var(--color-grey-light);
  animation-timing-function: ease-in;
}

.dotOne {
  composes: dot;
  animation: dotone 1.2s infinite;
}

.dotTwo {
  composes: dot;
  animation: dottwo 1.2s infinite;
}

.dotThree {
  composes: dot;
  animation: dotthree 1.2s infinite;
}

@keyframes dotone {
  0% { opacity: 0; }
  20% { opacity: 0; }
  60% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes dottwo {
  0% { opacity: 0; }
  30% { opacity: 0; }
  70% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes dotthree {
  0% { opacity: 0; }
  40% { opacity: 0; }
  80% { opacity: 1; }
  100% { opacity: 1; }
}
